/* ===== СБРОС СТИЛЕЙ: ===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
nav,footer,header,aside {
  display: block;
}
html,body {
	width: 100%;
  height: 100%;
	line-height: 1;
	font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
input,button,textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
} 
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited, a:hover {
  text-decoration: none;
}
ul, li {
  list-style: none;
} 
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
[class*="__container"] {
  display: flex;
  max-width:100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* ===== СТИЛИ ДЛЯ ВСЕГО ПРИЛОЖЕНИЯ: ===== */
.discord {
  height: 100%;
  width: 100%;
  background: #292B2F;
  overflow: hidden;
}

/* ===== СТИЛИ ДЛЯ HEADER: ===== */
.header {
  background: #373737;
  padding: 5px 0;
}
.header__container {
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #fff; /* отвечает за цвет текста */
  font-size: 12px; /* определяет размер шрифта */
}
.header__btn-group {
  display: flex;
  align-items: center;
}
.btn-header {
  display: flex;/* отвечает за размещение иконок по центру кнопки*/
  align-items: center;/* тоже самое, что и дисплей*/
  justify-content: center;
  padding: 4px;
  width: 14px; /* отвечает за ширину */
  height: 14px; /* отвечает за высоту*/
  border: 0; /* отвечает за толщину края иконки*/
  border-radius: 50%; /* отвечает за округость иконок*/
  cursor: pointer;
  background: #5D5D5D; /* делает цвет подложки -- цвет фона */
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.btn-header svg {
  width: 10px; /* отвечает за ширину */
  height: 10px;/* отвечает за высоту*/
  opacity: 0;
  transition: all 200ms ease-in-out; /* отвечает за скорость анимации */
}
.btn-header:hover.btn-header svg {
  opacity: 1;
}
.btn-header--turn:hover {
  background: #FFB32D; /* заливка кнопки в желтый цвет*/
}
.btn-header--full:hover {
  background: #19ca5d; /* заливка кнопки в зеленый цвет*/
}
.btn-header--close:hover {
  background: #e7154a; /* заливка кнопки в красный цвет*/
}
.btn-header:not(:last-child) {
  margin-right: 5px; /* отвечает за отступ вправо, всех кнопок, кроме последней*/
}

/* ===== СТИЛИ ДЛЯ HEADER: ===== */
